$color-accent: rgb(255, 69, 58);
$color-background: oklch(14.1% 0.005 285.823); // #09090b
$color-secondary-background: oklch(26.862% 0.00003 271.152);
$color-text: rgba(255, 255, 255, 0.92);
$color-placeholder-text: rgba(255, 255, 255, 0.44);
$color-border: rgba(255, 255, 255, 0.16);
$color-button: rgba(255, 255, 255, 0.08);
$color-button-hover: rgba(255, 255, 255, 0.16);
$color-attention: #fc8181;
$color-slider-monochrome: white;

$border-radius-sm: 0.15rem;
$border-radius-standard: 0.3rem;
$border-radius-lg: 0.6rem;

$player-height: 72px;
